#expli {
    font-size:125%;
}
#titre {
    font-size:150%;
    text-align: center;
}
#img1 {
    height: 35%;
    width: 25%;
    margin-left: 2%;
 }
#img2 {
    height: 31%;
    width: 21%;
    margin-left: 14%;
}
#img3 {
    height: 25%;
    width: 15%;
    margin-left: 15%;
 }
