#expli1 {
    font-size:125%;
}
#expli2 {
    font-size:125%;
}
#titre {
    font-size:150%;
    text-align: center;
}
#explications {
    margin-top:  5%;
    text-align: left;
    margin-left: 30%;
}
#img1 {
    height: 75%;
    width: 65%;
 }
 #img2 {
    height: 75%;
    width: 65%;
 }